/* Adicione isto ao seu arquivo style.css */

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

.construction-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: linear-gradient(to right, #8f5fff, #403bbd);
    color: #fff;
    padding: 20px;
}

.content {
    max-width: 500px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    animation: fadeIn 2s ease-in-out;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 30px;
}


button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #8f5fff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #784fd9;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Estilos para telas menores */
@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1em;
    }
    input[type="email"] {
        margin-bottom: 10px;
        width: calc(100% - 20px);
    }
    button {
        font-size: 0.9em;
        padding: 10px;
    }
    .content {
        padding: 20px;
    }
}
